   
        h1{
            color: #E40B81;
            
        }
        .out{
            /* border: 1px solid black; */
            width: 500px;
            height: 500px;
            text-align: center;
            position: relative;
            left: 30%;
           
        }
        #in{
            width: 300px;
            height: 300px;
            margin-left:100px;
            box-shadow: 0 2px 2px 0  rgba(0,0,0, .4);
        }
        #img{
            max-width: 100%;
        }